[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.0"
requests = "==2.25.0"
pyyaml = "==5.3"
pillow = "==8.0.0"
flask = "==1.1.2"
jinja2 = "==2.11.0"
lxml = "==4.6.2"
paramiko = "==2.7.0"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.8"
